alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ll='ls -la'

alias grep='grep --color=auto'
alias zgrep='zgrep --color=auto'

alias ssh='ssh -F ~/.ssh/config'

alias gip='curl ifconfig.io'


# Docker
alias dc='docker-compose'
alias dpa='docker ps -a'

# terraform
alias tf='terraform'

# OS
case ${OSTYPE} in
	darwin*) # Mac
		# Lock Screen (Shift + Ctrl + Eject)
		alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
		;;
	linux*)  # Linux
		;;
	cygwin*) # Cygwin
		# Shift-JIS to UTF-8 by NKF
		alias ipconfig='ipconfig | nkf -w'
		alias netstat='netstat | nkf -w'
		# Lock Screen (Win + L)
		alias afk="rundll32 user32.dll, LockWorkStation"
		;;
esac


# etc...
# alias color256='for c in {000..255}; do echo -n "\e[38;5;${c}m $c" ; [ $(($c%16)) -eq 15 ] && echo;done;echo'
alias color256='for c in {016..255}; do echo -n "\e[38;5;${c}m $c" ; [ $(($((c-16))%6)) -eq 5 ] && echo;done;echo'
