alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ll='ls -la'

alias grep='grep --color=auto'
alias zgrep='zgrep --color=auto'

alias ssh="ssh -F ~/.ssh/config"

alias gip='curl ipconfig.io'

case ${OSTYPE} in
    darwin*) # Mac        
        # Lock Screen (Shift + Ctrl + Eject)
        alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
        ;;
    linux*)  # Linux
        ;;
    cygwin*) # Cygwin
	# Shift-JIS to UTF-8 by NKF
        alias ipconfig='ipconfig | nkf -w'
	# Lock Screen (Win + L)
	alias afk="rundll32 user32.dll, LockWorkStation"
        ;;
esac
