# vim as default
export EDITOR="vim"

# Language
export LANG="en_US.UTF-8"

# Homebrew sbin
export PATH="/usr/local/sbin:$PATH"

# Prefer brew
export PATH="/usr/local/opt/openssl/bin:$PATH"
export PATH="/usr/local/opt/openssh/bin:$PATH"

# Android
# - automatically install by android studio
export ANDROID_HOME="$HOME/Library/Android/sdk"
# - manually install
# export ANDROID_HOME="/Applications/ADT/sdk"
# - using brew
# export ANDROID_HOME="/usr/local/Caskroom/android-sdk/{SDK_VERSION_NUMBER}"

export PATH="$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$ANDROID_HOME/emulator"


# rbenv
if command -v "rbenv" > /dev/null 2>&1 ; then
  export PATH="$HOME/.rbenv/bin:$PATH"
  eval "$(rbenv init -)"
fi
 
# pyenv
if command -v "pyenv" > /dev/null 2>&1 ; then
  eval "$(pyenv init --path)"
fi

# nodenv
if command -v "nodenv" > /dev/null 2>&1 ; then
  export PATH="$HOME/.nodenv/bin:$PATH"
  eval "$(nodenv init -)"
fi

# anyenv
if command -v "anyenv" > /dev/null 2>&1 ; then
  export PATH="$HOME/.anyenv/bin:$PATH"
  eval "$(anyenv init -)"
fi

# Composer
if command -v "composer" > /dev/null 2>&1 ; then
  export PATH="$HOME/.composer/vendor/bin:$PATH"
fi

# fastlane
if command -v "fastlane" > /dev/null 2>&1 ; then
  export PATH="$HOME/.fastlane/bin:$PATH"
fi

# bzip2
export LDFLAGS="-L/usr/local/opt/zlib/lib -L/usr/local/opt/bzip2/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include -I/usr/local/opt/bzip2/include"
